<div class="container">
  <div>
    <input (change)="onImagePicked($event)" placeholder="Upload Image" type="file" />
  </div>
  <div>
    <input (change)="onAudioPicked($event)" placeholder="Upload Audio" type="file" />
  </div>
  <div>
    <button (click)="onUpload()">Upload Image</button>
  </div>

  <div class="display">
    
  </div>
  <div *ngIf="imageUrl">
    <br />
    <img src="https://taylor-audio-books.s3.amazonaws.com/{{ imageUrl }}" />
  </div>
  <div *ngIf="audioUrl">
    <br />
    <audio controls>
      <source src="https://taylor-audio-books.s3.amazonaws.com/{{ audioUrl }}" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
  </div>
  
</div>

